*{
    margin: 0;
    padding: 0;
}
.semester{
    font-size: 22px;
    color:var(--color1);
    /* background-color: var(--color1); */
}
.subject-name{
    color: rgb(255, 255, 255);
    background-color:var(--color1);
    margin-left: 0px;
}
h2{
    margin:15px 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Signika', sans-serif;
}
.semester-content{
    /* margin: 25px 0px; */
    height:max-content;
    display: flex;
    flex-direction: column;
    font-family: var(--font2);
    /* padding-left: 20px; */
    font-size:16px;
}
.semester-content h3{
    margin: 18px;
    color:var(--color1);
    font-weight: bold;
    font-family:var(--font2);
}

.subject-links a{
    padding:8px;
    /* margin-top: 25px; */
    margin:0px 18px;
    /* margin-top: 10px; */
    color: var(--font1);
    text-decoration: none;
}

.subject-links a:hover{
    background-color: var(--color1);
    border-radius: 8px;
    color: var(--color2);
}
.footer1{
    margin-top: 100px;
    height: 25px;
    padding:10px 25px;
    font-family: var(--font2) ;;
    color:white;
    text-align: center;
    background-color:var(--color3);
}